<!DOCTYPE html>
<html>
  <head>
    <title>Express Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Skill #<%= skill.id%></h1>
    <h3><%= skill.desc %></h3>
    <h3>Rating: <%= skill.rating%></h3>
    <form action="/skills/<%= skill.id%>/edit" method="GET">
      <button type="submit">Edit Skill</button>
    </form>
    <br>
    <br>
    <form action="/skills/<%= skill.id%>?_method=DELETE"
      class="delete-form" method="POST">
      <button type="submit">Delete Skill</button>
    </form>
    <br>
    <br>
    <a href="/skills">Back to Skills</a>
  </body>

</html>
